extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body

			
			
	section.home_news
		.container
			.row
				.col
					.title
						h1 FULLSTACK VIETNAM
			.row
				.col-lg-3.col-sm-6.item
					a(href="#" title="")
						figure
							.blockimg
								img(src="./img/home_news_1.png", alt="")
							figcaption
								h3 Trung tâm đào tạo IT chuyên nghiệp
								p $36.59
				.col-lg-3.col-sm-6.item
					a(href="#" title="")
						figure
							.blockimg
								img(src="./img/home_news_2.png", alt="")
							figcaption
								h3 Trung tâm đào tạo IT chuyên nghiệp
								p $36.59
				.col-lg-3.col-sm-6.item
					a(href="#" title="")
						figure
							.blockimg
								img(src="./img/home_news_3.png", alt="")
							figcaption
								h3 Trung tâm đào tạo IT chuyên nghiệp
								p $36.59
				.col-lg-3.col-sm-6.item
					a(href="#" title="")
						figure
							.blockimg
								img(src="./img/home_news_4.png", alt="")
							figcaption
								h3 Trung tâm đào tạo IT chuyên nghiệp
								p $36.59
	
	